* {  
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-style: normal;
    box-sizing: 'border-box';
}

body {
    background-color: #f6f8fc;
}

.content {
    padding: 1rem;
    background-color: #fff;
    height: 100vh;
    max-width: 100vw;
}

.content h1 {
    margin: 0;
    font-weight: bold;
}

ol {
    list-style: none;
    margin: 0;
    padding: 0;
}

ol.pokemons {
    display: grid;
    color: #fff;
}

.pokemon {
    margin: .5rem;
    padding: 1rem 1rem;
    background-color: #0b9b68;
    border-radius: 1rem;
    display: flex;
    flex-direction: column;
}

.pokemon .number {
    opacity: .6;
    text-align: right;
}

.pokemon .name {
    margin-bottom: 0;
}

/* .pokemon .detail {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
} */

.pokemon .types {
    padding: 0;
    margin: 0;
    list-style: none;
    color: #fff;
    font-weight: 700;
}

.pokemon .types .type {
    background-color: #25a4ca;
    padding: .5rem 1rem;
    font-size: .625rem;
    margin: .25rem 0;
    border-radius: 1rem;
}

.pokemon .detail {
    display: flex;
    align-items: center;
}

.pokemon .detail .image-pokemon {
    width: 100%;
    display: flex;
    justify-content: flex-end;
}

.pokemon .detail .image-pokemon img {
    height: 100px;
}

.pagination-area {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 1rem;
}

#pagination {
    background-color: #cc531c;
    padding: 1rem;
    border-radius: .5rem;
    border: none;
    color: #eee;
}


@media screen and (min-width: 992px) {
    .content {
      margin: 1rem auto;
      max-width: 992px;
      height: auto;
      border-radius: 1rem;
    }
}

@media screen and (min-width: 576px) {
    .pokemons {
       grid-template-columns: 1fr 1fr;
    }
}

@media screen and (min-width: 992px) {
    .pokemons {
       grid-template-columns: 1fr 1fr 1fr;
    }
}